@use '../abstracts/variable' as *;

%button-layout {
  font-family: $ff-primary-barlow-condensed;
  border-style: none;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-radius: 0.3rem;
}
.hero {
  padding: 2rem 0;
  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80rem;
  }

  &__image {
    filter: drop-shadow(0px 23px 13px rgba(0, 0, 0, 0.15));
    &-container {
      width: 120%;
      @media (min-width: 900px) {
        grid-column: 2/3;
        transform: translateX(5rem);
      }
    }
  }
  & span:nth-child(1) {
    background: $clr-neutral-dark-blue;
    text-transform: uppercase;
    color: white;
    border-radius: 12rem;
    font-size: 0.9rem;
    font-family: $ff-primary-barlow-condensed;
    padding: 0.1rem 0.6rem;
  }
  & span:nth-child(2) {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    font-family: $ff-primary-barlow-condensed;
    color: $clr-neutral-grayish-blue;
    padding: 0.5rem;
  }
  &__title { 
    font-family: $ff-primary-barlow-condensed;
    font-size: clamp(2.5rem, 8vw, 4rem);
    text-transform: uppercase;
    font-weight: 700;
    line-height: clamp(2.5rem, 8vw, 4rem);
    padding: 1rem 0;
  }
  &__left-container {
    padding: 3rem 1rem;
    @media (min-width: 900px) {
      grid-row: 1;
    }
  }
  &__content {
    padding: 1rem 0 3rem 0;
  }

  &__button-demo {
    background: $clr-primary-red;
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    @extend %button-layout;
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    &:hover,
    &:focus {
      background-color: lighten($clr-primary-red, 10%);
    }
  }
  &__button-preview {
    font-size: 0.7rem;
    @extend %button-layout;
    background: white;
    border: 1px solid white;
    padding: 0.7rem 0.5rem;
    cursor: pointer;
    &:hover,
    &:focus {
      border: 1px solid $clr-primary-red;
    }
  }
}
