// ### Primary

// - Red: hsl(0, 100%, 68%)

// ### Neutral

// - Very Dark Blue: hsl(230, 29%, 20%)
// - Dark Grayish Blue: hsl(230, 11%, 40%)
// - Grayish Blue: hsl(231, 7%, 65%)
// - Light Grayish Blue: hsl(207, 33%, 95%)

$clr-primary-red: hsl(0, 100%, 68%);
$clr-neutral-dark-blue: hsl(230, 29%, 20%);
$clr-neutral-grayish-blue: hsl(230, 11%, 40%);
$clr-neutral-blue: hsl(231, 7%, 65%);
$clr-neutral-light-blue: hsl(207, 33%, 95%);

$ff-primary-barlow: 'Barlow', sans-serif;
$ff-primary-barlow-condensed: 'Barlow condensed', sans-serif;
